.header {
    overflow: hidden;
    background-color: #001E52;
    color: #FFFFFF;
    padding: 1% 1%;
}

.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 110%;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 10px;
    font-weight: bold;
}

.header a:hover {
    background-color: #DD6A00;
    color: #FFFFFF;
}

.header a.active {
    background-color: #DD6A00;
    color: #FFFFFF;
}

.header-right {
    float: right;
    margin: 0.5% 0 -1% 0;
    display: flex;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .logo{
        width: 30%;
    }
}

#mobile_menu {
    display: none;
}

#mobile_menu label {
    cursor: pointer;
}

#mobile-links {
    display: none;
}

#hamburger {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0;
    margin: 0;
}

#hamburger:checked ~ #mobile-links {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .header-right {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    label{
        float: right;
        margin-top: -13%;
        margin-right: 3%;
        font-size: 130%;
    }
}

.owl-item.cloned .header-area.style-02.header-bg-02 {
    background-image: url('first-main.png');
    background-size: cover;
    background-position: center;
}
.header-inner{
    padding: 10% 10% 0 5%;
    margin: 15% 0 5% 0;
}

.b{
    border-color: #DD6A00;
    color: #DD6A00;
    background-color: #FFFFFF;
}
.b:hover {
    border-color: #DD6A00;
    color: #DD6A00;
    background-color: rgba(255,92,10,0.1);
    cursor: pointer;
}
.information{
    margin: 2% 10% 0 2%;
    padding: 2% 5% 1% 5%;
    background-color: #001E52;
    font-family: "Open Sans",sans-serif;
    color: #FFFFFF;
    width: 95%;
}
.a{
    font-size: 160%;
}
.statistics{
    margin: 2% 10% 0 2%;
    padding: 2% 5% 1% 5%;
}
.main{
    margin-bottom: 2%;
}
/**/
.table{
    margin: 2% 10% 0 2%;
    padding: 2% 5% 1% 5%;
    background-color: #001E52;
    font-family: "Open Sans",sans-serif;
    color: #FFFFFF;
    width: 95%;
}
table, th, td {
    margin: 1% 10% 0 1%;
    padding: 2% 5% 1% 5%;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}
th, td {
    background-color: #001E52;
}
.h{
    color: #FFFFFF;
    font-size: 150%;
    padding: 1% 15%;
}
.column{
    font-size: 110%;
    color: #FFFFFF;
}
.g{
    border-color: #DD6A00;
    color: #DD6A00;
    background-color: #FFFFFF;
}
.g:hover {
    border-color: #DD6A00;
    color: #FFFFFF;
    background-color: #DD6A00;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .table, table, th, td {
        margin: 1% 2% 0 2%;
        padding: 1% 2% 1% 2%;
    }
    .h {
        font-size: 120%;
    }
}

@media only screen and (min-width: 769px) {
    .table, table, th, td {
        margin: 1% 10% 0 1%;
        padding: 2% 5% 1% 5%;
    }
    .h {
        font-size: 150%;
    }
}
.order{
    margin: 2% 10% 0 2%;
    padding: 2% 5% 1% 5%;
}
.input{
    margin: 0 1% 1% 0;
}
#submit{
    margin-top: 2%;
    width: 100%;
    border-color: #DD6A00;
    color: #DD6A00;
    background-color: #FFFFFF;
}
#submit:hover {
    border-color: #DD6A00;
    color: #FFFFFF;
    background-color: #DD6A00;
    cursor: pointer;
}
@media (min-width: 768px) {
    .order {
        margin: 2% 10% 0 2%;
        padding: 2% 5% 1% 5%;
    }
    .input {
        margin: 0 1% 1% 0;
    }
    #submit {
        margin-top: 1%;
        width: 20%;
    }
}
footer {
    background-color: #001E52;
    color: #FFFFFF;
    padding: 1%;
}
.quote{
    padding: 2% 0 0 11%;
}
@media (max-width: 768px) {
    footer{
        margin: 0 2% 0 1%;
        padding-bottom: 5%;
    }
    footer .row {
        padding-left: 5%;
    }
    .first{
        padding-left: 30%;
    }
    .second{
        padding: 0 -10% 0 10%;
        width: 100%;
        font-size: 110%;
    }
    .third{
        margin: 3% 0 0 -1%;
        width: 100%;
        font-size: 110%;
    }
    .fourth{
        flex-direction: row;
        width: 100%;
        padding-top: 1%;
        font-size: 100%;
    }
    .quote{
        margin-left: -11%;
    }
}
